@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    color: red;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

    h1, h2, h3, h4, h5, h6, span {
        color: #242424;
        text-align: center;
        line-height: 1.25;
    }

    h1 {
        font-size: 36px;
    }

    p {
        line-height: 1.5;
        font-size: 16px;
    }

    a{
        text-decoration: none;
        postion: relative;
        transition: opacity 300ms ease;
    }

    a:hover {
    opacity: 0.7;
   }

    .link__hover--effect:after {
        content:"";
        position: absolute;
        height: 3px;
        width: 0;
        bottom: -3px;
        right: 0;
        transition: all 300ms ease;
    }

    .link__hover-effect--white:after {
    background-color: white;
    }

    .link__hover-effect--black:after {
    background-color: black;
    }

    .link__hover-effect:hover:after {
        width: 100%;
        right: 0;
    
    }

    li {
        list-style: none;
    }
    
    .flex{
    display: flex;
    }


    .flex-1{
        flex: 1;
    }

.container {
padding: 50px;
}
    
.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.text--purple {
color: #6030b1;
}

section: nth-child (even) {
background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
}

   /* NAVIGATION BAR */

    nav{
        height: 100px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
    }

    .nav_link--list{
        display: flex;
         }

.nav_link--anchor {
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.nav_link--anchor-primary {
   background-color: #6030b1;
   padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
 }

 .nav_link--anchor-primary:hover {
    background-color: #7e4ed6;
 }

 personal_logo {
font-size: 24px;
color: #6030b1; 
margin: 0 12px;
font-weight: bold;
}

/*About Me*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
display: flex;
flex-direction: column;
}

.about-me_info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.about-me_picture--mask {
width: 100px;
height: 100px;
border-radius: 50%;
overflow: hidden;
box-shadow: 0 8px 16px rgba(0,0,0,1);
margin-bottom: 28px;
animation: animate-profile-picture 800ms 1s backwards;
}

@keyframes animate-profile-picture {
0% {
    transform: scale(0);
}
80% {
transform: scale(1.1);
}
}
.about-me_picture {
    width: 100%;

/*Improving my own picture*/
transform: scale(1.5);
padding-top: 8px;
}

.about-me_info--title {
    font-size: 20px;
    margin-bottom: 16px;
    animation: fade-up 650ms 400ms backwards;
}
.about-me_info--para {
   font-size: 20px; 
   margin-bottom: 28px;
   animation: fade-up 650ms 400ms backwards;
}

.about_me__link {
font-size: 20px;
color: #242424;
padding: 0 16px;
}

.about-me__links {
animation: fade-up 650ms 400ms backwards;
}

@keyframes fade-up {
0% {
    transform: translateY(40px);
    opacity: 0;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}

.about-me__img--container {
flex: 1;
display: flex;
align-items: center;
}
.about-me__img {
    width: 100%;
    animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
    0% {
    opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wave{
display: inline-block;
animation:animate-wave 500ms infinite ease-in-out;
}

@keyframes animate-wave {
0%{
transform: rotate(0);
}
50% {
transform: rotate(30deg);
}
100% {
transform: rotate(0);
}
}
/*TECH - STACK*/

.language__img {
width: 100%;
max-width: 100px;
transition: all 300ms ease;
}

.language:hover .language__img {
filter: brightness (80%);
opacity: 0.86%;
transform: scale (0.9);
}

.language {
width: 25%;
display: flex;
justify-content: center;
position: relative;
}
.language__img--wrapper {
display: flex; 
 justify-content: center;
 align-items: center;
padding: 25px 16px;
}

.language__list {
display: flex;
justify-content: center;
width: 100%;
flex-wrap: wrap;
}

.language__name {
position: absolute;
bottom: 0;
tranform: scale (0);
transition: all 300ms;
font-size: 20px;
}
.language:hover .language__name {
    transform: scale (1);
    opacity: 1;
}

/*PROJECTS*/

.project{
margin-bottom: 135px;
}

.project:last-child {
    margin-bottom: 40px;
}

.project_img {
    width: 100%;
    transition: all 500ms ease;
}

.project_wrapper {
    display: flex;b v,.
    box-shadow: 0 20px 80px rgba(0,0,0,0.45);
    border-radius: 20px;
    overflow: hidden;
   position: relative;
}
.project_wrapper:before {
content:"";
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
background-color: #1c1d25;
opacity: 0;
transition: opacity 450ms ease;
z-index: 2;
}
.project:hover .project_wrapper:before {
    opacity: 0.7;
}
.project:hover .project_img {
    transform: scale (1.07);
    filter: blur (5px);
}

.project:hover .project_description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
padding-top: 40px;
}

.project_description {
position: absolute;
top: 50%;
left: 90px;
transform: translateY(100%);
max-width: 550px;
z-index: 3;
opacity: 0;
transition: transform 450ms, opacity 300ms;
}

.project_description--title{
font-size: 40px;
}

.project_description--para {
margin: 16px 0;
}

.project_description--link {
font-size: 20px;
margin-right: 16px;
text-decoration: none;
}


.project_description--subtitle,
.project_description--para,
.project_description--link {
text-align: left;
color: white;
}

/*FOOTER*/

footer{
background-color: #242424;
}

.footer__social--list {
margin-bottom: 28px;
width: 100%;
display: flex;
justify-content: center;
max-width: 500px;
}

.footer_row{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8% 0;
}

footer_logo--img {
width: 70px;
height: 70px;
}

footer__social--link,
.footer__copyright,
.footer__logo--popper {
color: white;
}

.footer__logo--popper {
position: absolute;
right: 0;
top: 30px;
font-weight: 700;
opacity: 0;
transition: all 300ms ease;
}

.footer__anchor {
position: relative;
margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
transform: translateX(60px);
}
/* Small phone, tablets, large smartphones */
@media (max-width: 768px) {
nav {
    height: 68px;
}

h1 {
    font-size: 28px;
}

.about-me__info--para {
    font-size: 18px;
}

.language {
width: calc(100% / 3);
}

.project_description--para {
    font-size: 14px;
}

.project__description {
left: 30px;
padding-right: 30px;
}
}
/*Small Phones */
@media (max-width: 480px) {
.nav__link:not(:last-child) {
    display: none;
}

.project__description {
padding: 0;
left: 0;


.project_description--para {
display:none;
}

.project__description--links {
    display: flex;
    justify-content: center;
}

.project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
}

.project_description--subtitle {
text-align: center;
margin: 12px 0;
}